################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EXAMEN/v17
/obj
/bin/Debug/net8.0/runtimes
/bin/Debug/net8.0
/.vs/EXAMEN/DesignTimeBuild
/.vs/EXAMEN/FileContentIndex
/.vs/ProjectEvaluation
/.vs/EXAMEN/config/applicationhost.config
